*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}
body{
 height: 100vh;
 width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 background-color: #130f0d; 
}
.wellcome{
    position: absolute;
    top: 50px;
    padding: 10px 20px;
    width: 300px;
    text-align: center;
    border-radius: 5px;
    background-color:rgba(107, 80, 169, 0.5);
    display: none;
}
.wellcome-text{
    color: #fff;
}
.container{
    display: flex;
    position: relative;
    margin-top: 50px;
    height: 450px;
    width: 600px;
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}
.title{
    margin-top: 20px;
    text-align: center;
}
.form-title{
    position: absolute;
    top: 10px;
    left: 40%;
}
.leftSide, .rightSide{
    margin-top: 45px;
}
.leftSide{
    width: 60%;
}
form{
    height: 100%;
    justify-content: space-evenly;
}
.rightSide{
    display: flex;
    overflow: hidden;
}
.rightSide img{
    height:200px;
    width:200px;
    margin-top: 30px;
    margin-left: 30px;
    align-self: center;
    transform: rotate(-30deg);
}
.leftSide,form{
    display: flex;
    flex-direction: column;
}
input{
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-autofill:none;
    appearance: none;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0);
    border: none;
    border-bottom: 1px solid #F770A8;
}
input:focus{
    border-radius: none;
    outline: none;
    background-color: transparent;
}
label{
    margin-top: 25px;
    color: rgba(255, 255, 255, 0.664);
}
.login-button{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    padding: 15px;
    margin-top: 30px;
    font-size: 16px;
    border:none;
    background-color:#6B50A9;
}
.login-button:hover{
    background-color:#7a5ac4;
}
.forgot, .register{
    margin-top: 15px;
}
.link:hover{
    color: #9EDDEF;
}
.back-button{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 0;
    color: #fff;
    padding:8px;
    border-radius: 5px;
    transform: rotate(90deg);
    font-size: 14px;
}
@media(max-width:500px){
    .container{
        padding: 5px;
        width: 90%;
        height: 360px;
        justify-content: space-between;
    }
    .title{
        margin-top: 100px;
    }
    .leftSide{
        width: 60%;
    }
    form{
        height: 100%;
        justify-content: space-evenly;
    }
    .rightSide img{
        max-height:120px;
        max-width: 120px;
        margin: 0;
        align-self: center;
    }
    .login-button{
        margin-top: 20px;
    }
    .forgot, .register{
        margin-top: 10px;
        font-size: 15px;
    }
} 